
@import url(modern-normalize.css);

* {
    list-style: none;
    text-decoration: none
}

.parant-div {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}
/* Side nav bar related element selectors */
nav {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 60px;

    background-color: skyblue;
    padding-top: 15px;
    box-shadow: 1px 1px 5px gray;
}
h1 {
    padding-left: 40px;
    font-size: 2.3rem;
}

ul {
     display: flex;
     flex-direction: column;
     gap: 15px;
}

ul > li > a {
    font-size: 1.6rem;
}

/* Header sections related element selectors */
header {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;

    background-color: rgba(128, 128, 128, 0.342);
    box-shadow: 2px 2px 5px gray;
}

.top-header, .bottom-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    padding-left: 50px;
    padding-right: 50px;
}

.top-header {
    padding-top: 20px;
}
.bottom-header {
    padding-bottom: 20px;
}

label{
    display: inline-block;
    position: relative;
    bottom: 13px;
}

input {
    position: relative;
    bottom: 25px;
    left: 15px;

    width: 45vw;
    height: 2.3rem;

    border: none;
    border-radius: 20px;
}

.bell-side {
    display: flex;
    gap: 30px;
}
.bell-side > img {
    position: relative;
    bottom: 15px;
}
.greeting-side {
    display: flex;
    gap: 25px;
}
.bold{
    font-weight: bold;
    font-size: 1.3rem;
}
.larger-name {
    font-size: 1.7rem;
}

.avatar {
    border-radius: 50%;
}

.button-side {
    display: flex;
    gap: 15px;
}

button {
    height: 2.7rem;
    width: 120px;
    border-radius: 25px;
    border: 1px solid gray;
}


